@import '../../blocks/form/__control/form__control.css';
@import '../../blocks/form/__button/form__button.css';

.form {
    max-width: 281px;
    margin: 30px 0 0;
}

@media (max-width: 575px) {
    .form {
        max-width: 100%;
        margin: 0;
    }
}