.accordion__title_icon::after {
    content: '';
    display: block;
    background: url(../../../../images/chevron.svg) no-repeat center;
    background-size: cover;
    width: 14px;
    height: 6px;
    transition: 0.25s linear;
    flex-shrink: 0;
    margin-left: 30px;
}